.header {
    padding: 25px 5%;
    text-align: center;
    border-bottom: 1px solid #aaa59d;
}

.header__title {
    margin: 0;
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 7px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 18px;
    border-bottom: 1px solid #aaa59d;
}

.menu__item {
    padding-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.menu__item a:hover {
    color: #8b7568;
}

.home__active,
.work__active,
.about__active,
.contact__active {
    border-bottom: 1px solid #1d1d1d;
}

@media screen and (max-width: 700px) {

    .menu {
        gap: 18px;
    }

    .menu__item {
        font-size: 11px;
    }
}